:root {
  --white: #fff;
  --orange: #C27DFC;
  --black-025: #EAEBED;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-200: #bbc0c4;
  --black-300: #6a737c;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #3c4146;
  --black-800: #242729;
  --black-900: #0c0d0e;
  --blue-300: #E7CBFE;
  --blue-500: #DAB1FD;
  --blue-600: #CE97FD;
  --blue-700: #9B64CA;
  --red-400: #7C89A4;
  --red-500: #243B67;
  --powder-100: #D3D8E1;
  --powder-200: #A7B1C2;
  --powder-300: #7C89A4;
  --powder-400: #506285;
  --powder-500: #243B67;
  --powder-600: #1D2F52;
  --powder-700: #16233E;
  --powder-800: #0E1829;

  --fade: 120ms;
}
